
nav {
    background-color: white#333; /* Dark background for the nav */
    padding: 10px; /* Space around the links */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline; /* Display links in a row */
    margin-right: 20px; /* Space between links */
}

nav ul li a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    padding: 80px 0;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

